PUBNUB_SUBSCRIBE_KEY=your-subscribe-key-here
PUBNUB_PUBLISH_KEY=your-publish-key-here
PUBNUB_PI_USER_ID=your-pi-user-id
PUBNUB_SECRET_KEY=your-secret-key-here
PUBNUB_CHANNEL=your-channel-name-here
PUBNUB_CIPHER_KEY=your-cipher-key-here

FLASK_APP_SECRET_KEY=your-flask-secret-key-here

GOOGLE_CLIENT_ID=your-google-client-id-here
GOOGLE_CLIENT_SECRET=your-google-client-secret-here

MYSQL_DATABASE_URI=mysql+pymysql://username:password@hostname/database_name

ADMIN_CLIENT_ID=your-admin-client-id-here

PAY_PAL_CLIENT_ID=your-paypal-client-id-here
PAY_PAL_CLIENT_SECRET=your-paypal-client-secret-here
