{% extends "layout.html"%}

{%  block body%}

<h1>DASHBOARD</h1>
    <div class="controls">
        <div class="control">
            <span>Monitor</span>
            <label class="switch">
                <input type="checkbox" id="parkSmartMonitorToggle">
                <span class="slider"></span>
            </label>
        </div>
        <div class="control">
            <span>Red LED</span>
            <label class="switch">
                <input type="checkbox" id="redLedToggle">
                <span class="slider"></span>
            </label>
        </div>
        <div class="control">
            <span>Green LED</span>
            <label class="switch">
                <input type="checkbox" id="greenLedToggle">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <div>
        <p>Current Vehicle inside parking lot <span id="vehicleCount"></span></p>
    </div>


    <!-- For now, just for display I am using classes, otherwise each parking space will be unique (unique ids) -->
    <h3>Parking Space 1: <span class="space1">...</span></h3>
    <h3>Parking Space 2: <span class="space2">...</span></h3>
    <h3>Parking Space 3: <span class="space3">...</span></h3>
    <h3>Parking Space 4: <span class="space4">...</span></h3>
    <h3>Parking Space 1: <span class="space1">...</span></h3>
    <h3>Parking Space 1: <span class="space1">...</span></h3>
    <h3>Parking Space 1: <span class="space1">...</span></h3>

{%  endblock %}
