{% extends "layout.html"%}

{%  block body%}
<div>
    <h1>
        Park  Smart
    </h1>

    <ul>
        <li>
            This website will help parking lot owners to monitor number of parking spaces available and booked in the lot
        </li>
        <li>
            They can also control the LED light at the entrance from the website, like if there is still parking space available but
            there is maintenance going on they can change the color from green to red.
        </li>
        <li>
            For future, there will be an app from which users (drivers) can see the number of parking space available and book them by paying.
        </li>
    </ul>
</div>

{%  endblock %}
